*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	background: #f1f5f8;;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

h1{
	font-size: 60px;
	color: #222;
}

#value{
	font-size: 80px;
	font-weight: 600;
	display: block;
}

.btn-container{
	width: 400px;
	display: flex;
	justify-content: space-between;
}

.btn{
	text-transform: uppercase;
	border: 2px solid #333;
	background: none;
	width: auto;
	padding: 10px 15px;
	border-radius: 10px;
	font-size: 18px;
	font-weight: 500;
	transition: .5s;

}

.btn:hover{
	background: #333;
	color: #fff;
	transition: .5s;
	cursor: pointer;
}